li {
	list-style: none
}

a {
	text-decoration: none
}

.clearfix {
	overflow: hidden;
	zoom: 1
}

.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;
	width: 0;
	height: 0;
	content: ''
}

.fl {
	float: left
}

.fr {
	float: right
}

.nav_Box {
	width: 100%;
	background: #29191c
}

.containerBox .container_change {
	padding: 0;
	background: #29191c
}

.containerBox .container_change .nav {
	margin-left: 30px
}

.containerBox .container_change .nav li {
	width: 120px;
	text-align: center
}

.containerBox .container_change .nav li:hover {
	background: #29191c
}

.containerBox .container_change .nav li.active1 a {
	color: #ffd011
}

.containerBox .container_change .nav li:nth-child(2) {
	position: relative
}

.containerBox .container_change .nav li:nth-child(2) ul {
	position: absolute;
	z-index: 9999;
	top: 50px;
	left: 0;
	overflow: hidden;
	zoom: 1;
	width: 120px;
	height: 0;
	padding: 0
}

.containerBox .container_change .nav li:nth-child(2) ul li {
	line-height: 50px;
	float: left;
	width: 120px;
	height: 50px;
	text-align: center;
	background: #29191c
}

.containerBox .container_change .nav li:nth-child(2) ul li a {
	text-decoration: none;
	color: #fff
}

.containerBox .container_change .nav li:nth-child(2) ul li:hover a {
	color: #ffd011
}

.containerBox .container_change .nav li:nth-child(2):hover ul {
	height: 350px;
	-webkit-transition: height .8s linear;
	-o-transition: height .8s linear;
	transition: height .8s linear
}

.containerBox .navbar-brand {
	padding: 0
}

.containerBox #logo {
	width: 50px;
	height: auto;
	margin: 0;
	padding: 0
}

.containerBox .container-fluid {
	padding: 0
}

.containerBox .nav {
	background: #3d2428
}

.containerBox .navbar {
	margin-bottom: 0;
	border: 0
}

.containerBox .navbar-default {
	border-radius: 0;
	background: #3d2428
}

.containerBox .navbar-default li {
	background: #3d2428
}

.containerBox .navbar-default .navbar-nav>li>a {
	color: #fff
}

.containerBox .navbar-default .navbar-nav>li>a:hover {
	color: #ffd011
}

.containerBox .nav {
	margin-left: 30px
}

.containerBox .nav li {
	width: 120px;
	text-align: center
}

.containerBox .nav li:hover {
	background: #29191c
}

.containerBox .nav li.active1 a {
	color: #ffd011
}

.containerBox .nav li:nth-child(2) {
	position: relative
}

.containerBox .nav li:nth-child(2) ul {
	position: absolute;
	z-index: 9999;
	top: 50px;
	left: 0;
	overflow: hidden;
	zoom: 1;
	width: 120px;
	height: 0;
	padding: 0
}

.containerBox .nav li:nth-child(2) ul li {
	line-height: 50px;
	float: left;
	width: 120px;
	height: 50px;
	text-align: center;
	background: #29191c
}

.containerBox .nav li:nth-child(2) ul li a {
	text-decoration: none;
	color: #fff
}

.containerBox .nav li:nth-child(2) ul li:hover a {
	color: #ffd011
}

.containerBox .nav li:nth-child(2):hover ul {
	height: 350px;
	-webkit-transition: height .8s linear;
	-o-transition: height .8s linear;
	transition: height .8s linear
}

.containerBox .navbar-mine {
	margin: 0;
	padding: 0
}

.containerBox .navbar-mine .btn-mine {
	line-height: 50px;
	width: 80px;
	height: 50px;
	padding: 0;
	text-align: center;
	color: #fff;
	border: 0;
	outline: 0;
	background: #ffd011;
}
.containerBox .navbar-mine .btn-mine a{
	line-height: 50px;
	width: 80px;
	height: 50px;
	padding: 0;
	text-align: center;
	color: #fff;
	border: 0;
	outline: 0;
}
.containerBox .navbar-mine .btn-mine-login:hover {
	color: #fff;
	background-color: #3d2428
}
.containerBox .navbar-mine .btn-mine-login:hover a{
	text-decoration: none;
}
.containerBox .navbar-mine .btn-mine-register {
	margin-left: -5px;
	background: #29191c
}

.containerBox .navbar-mine .btn-mine-register:hover {
	color: #fff;
	background-color: #3d2428
}
.containerBox .navbar-mine .btn-mine-register:hover a{
	text-decoration: none;
}
.containerBox .firendlyLink {
	margin-top: 30px;
	background: #29191c
}

.containerBox .firendlyLink p {
	font-size: 18px;
	line-height: 40px;
	padding-left: 20px;
	color: #fff
}

.containerBox .firendlyLink ul {
	overflow: hidden;
	zoom: 1;
	width: 850px;
	height: 40px;
	margin: 0 auto;
	padding: 0
}

.containerBox .firendlyLink ul li {
	line-height: 20px;
	float: left;
	margin-right: 10px;
	text-align: center
}

.containerBox .firendlyLink ul li:last-child {
	margin-right: 0
}

.containerBox .firendlyLink ul li a {
	text-decoration: none;
	color: #fff
}

.containerBox .firendlyLink ul li:hover a {
	text-decoration: underline;
	color: #ffd011
}

.containerBox footer {
	width: 100%;
	background-color: #3d2428
}

.containerBox footer ul {
	width:490px;
	overflow: hidden;
	zoom: 1;
	width: 490px;
	margin: 0 auto
}

.containerBox footer ul li {
	line-height: 60px;
	float: left;
	width: 80px;
	height: 40px;
	text-align: center
}

.containerBox footer ul li a {
	color: #fff
}

.containerBox footer p {
	line-height: 34px;
	color: #fff
}

body {
	position: relative;
	background: #483436
}

/*body #loginRegister {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .75) !important
}

body #loginRegister .quit:before {
	font-size: 36px;
	position: absolute;
	top: 10px;
	right: 10px;
	content: '\e637';
	cursor: pointer;
	color: #fff
}

body #loginRegister #loginRegisterBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 360px;
	height: 400px;
	margin: -240px 0 0 -180px;
	padding: 30px 20px;
	padding-top: 10px;
	background: #fff
}

body #loginRegister #loginRegisterBox .titleTabs {
	margin-bottom: 26px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #b5b9bc
}

body #loginRegister #loginRegisterBox .titleTabs span {
	font-size: 17px;
	line-height: 40px;
	display: inline-block;
	width: 100px;
	height: 40px;
	margin-bottom: -1px;
	cursor: pointer;
	text-align: center
}

body #loginRegister #loginRegisterBox .titleTabs span.active {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #814350
}

body #loginRegister #loginRegisterBox .titleTabs #reg {
	margin-left: -5px
}

body #loginRegister #loginRegisterBox #registerBox {
	display: none
}

body #loginRegister #loginRegisterBox .box .verify {
	width: 100%;
	height: 20px;
	color: red;
}
.verify{
	width: 100%;
	height: 20px;
	color: red;
}
body #loginRegister #loginRegisterBox .box .form-group-revamp {
	margin-bottom: 0
}

body #loginRegister #loginRegisterBox .box .form-group-revamp .verify {
	width: 100%;
	height: 20px;
	color: red
}

body #loginRegister #loginRegisterBox .box .form-group-revamp .verify-code {
	width: 160px;
	vertical-align: middle
}

body #loginRegister #loginRegisterBox .box .form-group-revamp #getVerifyCode {
	font-family: '微软雅黑';
	font-size: 20px;
	font-weight: bold;
	line-height: 36px;
	display: inline-block;
	width: 100px;
	height: 36px;
	margin-left: 10px;
	padding: 0 5px;
	text-align: center;
	vertical-align: middle;
	letter-spacing: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #29191c
}

body #loginRegister #loginRegisterBox .box .form-group-revamp i {
	font-size: 21px;
	margin-left: 10px;
	cursor: pointer;
	color: #838e90
}

body #loginRegister #loginRegisterBox .box .input-style {
	height: 36px !important
}

body #loginRegister #loginRegisterBox .box .button-login {
	width: 100%;
	border: 0;
	background: #814350
}

body #loginRegister #loginRegisterBox .box .button-login:hover {
	opacity: .9
}

body #loginRegister #loginRegisterBox .box #otherLoginStyle p {
	line-height: 80px;
	overflow: hidden;
	zoom: 1;
	height: 70px
}

body #loginRegister #loginRegisterBox .box #otherLoginStyle p span {
	display: block;
	float: left;
	margin-right: 40px
}

body #loginRegister #loginRegisterBox .box #otherLoginStyle p a i {
	font-size: 17.6px;
	line-height: 30px;
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 25px;
	margin-right: 26px;
	color: #fff;
	border-radius: 50%;
	background: #b5b9bc
}

body #loginRegister #loginRegisterBox .box #otherLoginStyle p a .one:hover {
	background: #f01400
}

body #loginRegister #loginRegisterBox .box #otherLoginStyle p a .two:hover {
	background: #1fde40
}

body #loginRegister #loginRegisterBox .box #otherLoginStyle p a .three:hover {
	background: #558ef5
}*/

body .return_top {
	position: fixed;
	z-index: 1;
	right: 30px;
	bottom: 30px;
	display: none;
	width: 40px;
	height: 40px;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	background: red;
	background: rgba(0, 0, 0, .5)
}

body .return_top i {
	font-size: 32px;
	line-height: 1.2;
	color: #fff
}

body .return_top:hover i {
	color: #3d2428
}

body .contentBox ul {
	overflow: hidden;
	zoom: 1;
	width: 1280px;
	margin: 0 auto
}

body .contentBox ul h3 {
	font-family: '微软雅黑';
	font-size: 19.2px;
	margin-left: 20px;
	padding: 0;
	color: #fff
}

body .contentBox ul li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 280px;
	height: 270px;
	margin-left: 20px;
	background: white
}

body .contentBox ul li a {
	text-decoration: none
}

body .contentBox ul li a:hover {
	text-decoration: none
}

body .contentBox ul li img {
	width: 280px
}

body .contentBox ul li h6 {
	font-size: 19.2px;
	font-weight: bold;
	padding: 0 10px;
	color: #3d2428
}

body .contentBox ul li p {
	line-height: 24px;
	width: 100%;
	padding: 0 10px;
	color: #3d2428
}

body .contentBox ul li .hover {
	position: absolute;
	z-index: -1;
	top: -16px;
	right: -20px;
	left: -20px;
	background: red
}

body .contentBox ul li:hover a img {
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	-o-transition: -o-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s, -o-transform .2s;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

/*后添加的*/

.touxiang {
	float: right;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 40px;
	cursor: pointer;
}

.touxiang img {
	width: 48px;
	height: 48px;
}
#shouji{
	width: 100%;
	height: 20px;
	color: red;
}
.banner_set{
	margin-top:50px;
}
